#products {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 33.33%;
  text-align: center;
}

h1{
  text-align: center;
  margin-bottom: 30px;
  font-size: 5em;
}

#results {
  padding: 20px;
}

#results-button {
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}
body{
  background-color: bisque;
}

img {
  width: 100%;
  height: auto;
}