head {
  margin: 0%;
  height: 0;
  width: 0;
}

body {
  background-color: white;
}

form {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  padding: 1rem;
  margin: auto;
  width: 15rem;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: auto;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 5%;
  font-size: 5em;
  font-family: 'Pokemon Solid',
    sans-serif;
}

#img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 350px;
  width: 350px;
  border-style: solid;
  border-width: 2px;
}

ul {
  width: max-content;
  margin: auto;
}

li {
  line-height: 25px;
}

#show-results-btn {
  width: max-content;
  margin: 20px;
  background-color: red;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: none;
}

#show-results-btn:hover {
  background-color: blue;
  border-radius: 50%/100px;
}

.dark {
  color: #FFCC00;
  text-shadow: -2px -2px 0 blue, 2px -2px 0 blue, -2px 2px 0 blue, 2px 2px 0 blue;
  background-color: rgb(73, 73, 73);
font-family: 'Pokemon Solid',
  sans-serif;
  font-family: 'Pokemon Solid',
    sans-serif;
}

.light {
  color: #FFCC00;
    text-shadow: -2px -2px 0 blue, 2px -2px 0 blue, -2px 2px 0 blue, 2px 2px 0 blue;
    background-color: lightgray;
  font-family: 'Pokemon Solid',
    sans-serif;
}

.container>div {
  width: 1062px;
  height: 531px;
}